<main>
    <section>
        <h1> Bucador de Serie de Anime </h1>
        <div>
            <input type="text" class="js_inputSearch input_search" placeholder="Escribe para buscar..">
            <button class="js_bntSerch bnt_search">Buscar</button>
            <button class="js_bntReset bnt_reset">Reset</button>
            <h2> </h2>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </section>

</main>