<main>
    <section>
        <h1> Bucador de Serie de Anime </h1>
        <div>
            <input type="text" class="js_inputSearch input_search" placeholder="Escribe para buscar..">
            <button class="js_bntSerch bnt_search">Buscar</button>
            <button class="js_bntReset bnt_reset">Reset</button>
            <h2>Resultado</h2>
            <ul class="js_serieslist">

            </ul>
            <h2>Favoritos</h2>
            <ul class="js_seriesfavorite">

            </ul>
        </div>
    </section>

</main>